---
import { getCollection } from "astro:content";

import PageLayout from "../../layouts/page-layout.astro";

export async function getStaticPaths() {
	const data = await getCollection("tombstones");
	return data.map((entry) => {
		return { params: { id: entry.id }, props: { data: entry.data } };
	});
}

const { data } = Astro.props;
---

<PageLayout>
	<div>
		<div
			class="mx-auto my-5 grid max-w-2xl auto-rows-min content-start rounded-b-md rounded-t-sm border-2 border-brandDark bg-brandGray"
		>
			<div class="relative size-full">
				<img alt="" class="size-full object-cover" src={`/rest-in-peace-service/${data.img}`} />
			</div>
			<div class="grid gap-1 bg-brandGrayDark p-5 text-brandLight">
				<h1 class="text-lg font-bold md:text-2xl">{data.title_short}</h1>
				<h2 class="text-base font-medium text-brandGray md:text-xl">{data.title_full}</h2>
			</div>
			<div class="grid content-start gap-2 p-5 text-sm md:text-base">
				<p>
					The service called <em class="font-semibold">{data.title_full}</em> formerly accessible through
					this URL: <em class="font-semibold">{data.url}</em> is deprecated since {
						data.deprecation_date
					}.
				</p>
				<!-- display custom_text if not empty; use optional chaining to check if there is custom_text, extra safe, check if it is an empty string with .trim() -->
				{data.custom_text?.trim() && <p>{data.custom_text}</p>}
				<p>
					For further information please write to <a
						href="mailto: acdh-helpdesk@oeaw.ac.at"
						class="underline decoration-brandGrayDark decoration-dotted underline-offset-2 hover:font-semibold"
						>ACDH-CH Helpdesk</a
					>.
				</p>
				<!-- check if the array custom_items is empty => its lenght larger than 0 and if so render all items in the array as list element in an <ul> - using map and set:html -->
				{
					data.custom_items?.length > 0 && (
						<ul>
							{data.custom_items.map((item: string) => {
								return <li set:html={item} />;
							})}
						</ul>
					)
				}

				<!-- display link to source code only if not empty field: check using optional chaining -->
				{
					data.link_to_code_repo?.trim() && (
						<a
							href={data.link_to_code_repo}
							class="place-self-start rounded-md border border-brandDark px-5 py-3 transition hover:bg-brandDark hover:text-brandLight"
						>
							Source code
						</a>
					)
				}
			</div>
		</div>
	</div>
</PageLayout>
